@font-face {
  font-family: "Product Sans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Regular"),
    url("./assets/fonts/ProductSans/ProductSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Google Sans";
  src: url("./assets/fonts/GoogleSans/GoogleSans-Regular.eot");
  src: local("Google Sans Regular"), local("GoogleSans-Regular"),
    url("./assets/fonts/GoogleSans/GoogleSans-Regular.eot")
      format("embedded-opentype"),
    url("./assets/fonts/GoogleSans/GoogleSans-Regular.woff2") format("woff2"),
    url("./assets/fonts/GoogleSans/GoogleSans-Regular.woff") format("woff"),
    url("./assets/fonts/GoogleSans/GoogleSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Google Sans";
  src: url("./assets/fonts/GoogleSans/GoogleSans-Medium.woff");
  src: local("Google Sans Medium"), local("GoogleSans-Medium"),
    url("./assets/fonts/GoogleSans/GoogleSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Google Sans";
  src: url("./assets/fonts/GoogleSans/GoogleSans-Bold.woff");
  src: local("Google Sans Bold"), local("GoogleSans-Bold"),
    url("./assets/fonts/GoogleSans/GoogleSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Google Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
